.box{
  background-color: black;
  width: 700px;
  height: 500px;
  font-family: 'Lobster', cursive;
}
.clock{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
  line-height: 500px;
  font-size: 75px;
}
