body{
  margin: 0;
  background-color: black;
}
.greeting{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;

}
.greeting h2{
  margin-bottom: 0;
  font-size: 100px;
}
.box{
  background-color: black;
  width: 100%;
  height: 100%;

}
.clock{
  text-align: center;
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 100px;
  /* margin-bottom: 40px; */
  left: 450px;
  position: absolute;
  top: 100px;
}
.clock2{
  text-align: center;
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 50px;
  /* margin-bottom: 40px; */
  left: 540px;
  position: absolute;
  top: 200px;
}
button{
  text-align: center;
  position: fixed;
  left: 38%;
  right: auto;
  margin-top: 10px;
}
.color_change{
  margin-left: 80px;
}
.normal{
  margin-left: 0

}
.army{
margin-left: 234px
}
